<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">			
			<newWizardShortcut id="com.dubture.pdt.ui.wizards.classes.ClassCreationWizard" />
		</perspectiveExtension>		
	</extension>	

   <extension
         point="org.eclipse.ui.newWizards">
         
		<wizard
        	category="org.eclipse.php.project.ui"
        	class="com.dubture.pdt.ui.wizards.classes.ClassCreationWizard"
        	icon="ico/full/obj16/phpclassdata.gif"
        	id="com.dubture.pdt.ui.wizards.classes.ClassCreationWizard"
        	name="%wizard.new.class"
        	project="false">
        </wizard>
        
         
   </extension>

</plugin>
